<div>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1640661060277-7c6d52cbf823?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80">
    <h1>El mas Seguro <strong>    prestador de dinero online<strong>Registrate</strong>!</h1>
    <p>ven a ser parte de este gran apoyo economico.</p>
    <a class="btn btn-primary" href="#">consultas</a>
  </div>
</div>
<br>
<br>
 <div class="container-dflex">
  <div class="card-group">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1641464521532-382e0c14cb4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDl8dG93SlpGc2twR2d8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lender Premium</h5>
      <p class="card-text">Monica de africa se convirtio en la lender con mayor rango en el Mes.</p>
      <p class="card-text"><small class="text-muted">Registrate! la proxima puedes ser tu..</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1641505396502-fb349184b506?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDV8dG93SlpGc2twR2d8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">borrower Premium</h5>
      <p class="card-text">Patricio de argentina se convirtuo en unos de los mayores prestarios en solo semanas...</p>
      <p class="card-text"><small class="text-muted">ya puedes participar</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1641477206894-cce855c52681?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=467&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Usuarios buscando dinero</h5>
      <p class="card-text">Antonia de chile busca las mejores ofertas de prestamos de dinero</p>
      <p class="card-text"><small class="text-muted">cada 10 personas en 30 segundo buscan prestamos de dinero en nuestra app</small></p>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="first">
                        <h4>SERVICIOS PRESTAMO DE DINERO</h4>
                        <p> Mundialmente reconocidos</p>
                        <p> Servicio de Lender.</p>
                        <p> Servicios de borrower.</p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="second">
                        <h4> registrate y se parte de esta gran comunidad</h4>
                        <ul>
                            <li><a href="#">REGISTRATE</a></li>
                            <li><a href="#">PUBLICA</a></li>
                            <li><a href="#">COMPARTE</a></li>
                            <li><a href="#">Prestadores de Servicios</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="third">
                        <h4> Contactanos</h4>
                        <ul>
                            <li>Vanessa Nicol Sagredo Valdivia </li>


                          <li><i class="far fa-envelope"></i> sagredovanessa619@mascotagram.com</li>



                          <li><i class="fas fa-map-marker-alt"></i> La Pampa #3073 -Alto Hospicio  Chile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="line"></div>
                    <div class="second2">
                        <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i class="fab fa-codepen fa-2x margin"></i></a>
                        <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                        <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                        <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

                    </div>

                </div>
            </div>
            </div>
    </div>



</body>
